<h1 style="text-align: center;">Sign In</h1><br><br>
    <div class="form-floating mb-3" style="width: 50%; margin:auto;">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" />
        <label for="email">&emsp;Email</label>
    </div>
    <div class="form-floating mb-3" style="width: 50%; margin:auto;">
        <input type="text" class="form-control" id="password" name="password" placeholder="Password"/>
        <label for="password">&emsp;Password</label>
    </div>
    <p style="text-align: center;"><a href="" class="text-muted" style="text-decoration:none;">Forget Password ?</a></p>
    <div class="d-grid" style="width: 50%; margin:auto;">
        <button class="btn btn-primary" type="submit">Sign In</button>
    </div>
    <br>
    <p class="lead" style="text-align: center;">Don't have an account? <a href="/registration">Register</a></p>