<h2 style="text-align: center;">Hello {{user.firstName}} {{user.lastName}}!!!    Welcome to Typhon Hosting</h2>
<h4 style="text-align: center;">This is an User page</h4>

<div class="container mt-5">
    <div class="row">
        <div class="col" style="text-align: center;"><p style="font-size:xx-large;">Typhon Hosting's Blog Page</p></div>
    </div><br>
    <div class="row">
        <div class="col-12">
            <div class="card h-100" style="width:800px ; margin: auto;">
                <img src="/images/Blog_1.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="font-size: larger;"> The Many Myths about Data Encryption, Eliminating Threats to Maintaining Compliance: a blog about cyber security. </p>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-6">
            <div class="card h-100" style="width:500px ; margin: auto;">
                <img src="/images/Blog_2.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="font-size: larger;"> Data Science: Future Trends in AI, Big Data, and Machine Learning </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card h-100" style="width:562px ; margin: auto;">
                <img src="/images/Blog_3.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="font-size: larger;"> How to build a chatbot using JavaScript. </p>
                </div>
            </div>
        </div>
    </div>
</div>